.connectingConnectorLabel {
  height: 28px;
  width: 140px;
  border-radius: 13px;
  color: #FFFFFF;
  text-align: center;
  left: 49% !important;
  border: 2px solid #456;
  background-color: #456;
}